$shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

.sales-header {
    background: $white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.9);
    z-index: 1;
    position: relative;
    padding-bottom: 0.75rem;

    &__container {
        @include grid-row;
    }

    &__btn {
        @include breakpoint(medium) {
            @include button-with-icon($white, $secondary-color);
        }
    }

    &__logo {
        display: block;
        background-repeat: no-repeat;
        height: rem-calc(30px);
        @include logo-twig-science-tools-color;
        @include element-focus($secondary-color);

        &-wrapper {
            @include grid-column(12);

            @include breakpoint(medium only) {
                @include grid-column(5);
            }
            @include breakpoint(large) {
                @include grid-column(4);
            }

            z-index: 1;
            top: 0;
            padding-top: rem-calc(14px);

            &:hover,
            &:active,
            &:visited,
            &:focus {
                background-color: transparent;
            }

            &:hover,
            &:active,
            &:visited {
                text-decoration: none;
            }
        }
    }

    &__main-menu {
        @include grid-column(12);
        @include breakpoint(medium) {
            @include grid-column(7);
        }

        ul {
            @include menu-base;
            margin-top: 0.75rem;
            float: right;
            @include breakpoint(small only) {
                float: none;
                @include menu-expand;
            }

            @include anchor-focus($secondary-color);

            a {
                padding: 0.5rem;
                margin-right: 1rem;
                padding-right: 1.3rem;
                .icon {
                    font-size: 0.8em;
                    right: 0.4rem;
                    position: absolute;
                    @include breakpoint(small only) {
                        font-size: 1.2em;
                        padding-top: 0.75rem;
                    }
                }
            }
        }
    }
}
