$header-background-color: #F4F4F4;
$header-search-background-color: #EAEAEA;

.transparent-background {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.site-header {
    background: $header-background-color;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.9);
    z-index: 1;
    position: relative;

    &__container {
        @include grid-row;
    }

    &__logo {
        display: block;
        background-repeat: no-repeat;
        height: rem-calc(30px);
        @include logo-twig-science-tools-color;
        @include element-focus($secondary-color);

        &-wrapper {
            @include grid-column(8);
            @include breakpoint(medium only) {
                @include grid-column(6);
            }
            @include breakpoint(large) {
                @include grid-column(4);
            }

            z-index: 1;
            top: 0;
            padding-top: rem-calc(14px);

            &:hover,
            &:active,
            &:visited,
            &:focus {
                background-color: transparent;
            }

            &:hover,
            &:active,
            &:visited {
                text-decoration: none;
            }
        }
    }

    &__main-menu {
        @include grid-column(4);
        @include breakpoint(medium) {
            @include grid-column(6);
        }

        ul {
            @include menu-base;
            float: right;
            @include breakpoint(small only) {
                @include menu-expand;
            }

            @include anchor-focus($secondary-color);

            a {
                padding: 1.2rem 1rem 1.4rem;
                @include breakpoint(small only) {
                    padding-left: 0;
                    padding-top: 0.75rem;
                }

                .icon {
                    font-size: 0.8em;
                    padding-right: 0.5rem;
                    padding-top: 1rem;
                    @include breakpoint(small only) {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    &__search {
        position: relative;

        &:before {
            @extend .transparent-background;
            background: $header-search-background-color;
        }

        &:after {
            opacity: 0.4;
            background-size: 40%;
            @extend .transparent-background;
            @include constellation-white;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .search-form {
            margin: 1.2rem 0;
        }
    }
}
